body {
  margin: 0px;
  padding: 0px;
  min-width: 100%;

  min-height: 100%;
}

/* DESKTOP*/

main {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "leftpane linkbar";
  column-gap: 0;
  row-gap: 0px;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

.leftpane {
  position: relative;
  display: grid;
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  grid-area: leftpane;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "album"
    "text";
  justify-items: center;
  align-items: space-evenly;
}

.album {
  position: relative;
  top: 12vh;
  grid-area: album;
  width: 500px;
}

p {
  position: absolute;
  grid-area: text;
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
  font-weight: lighter;
  background: -webkit-linear-gradient(rgb(242, 173, 27), rgb(155, 35, 31));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 14vh;
}

div.bar {
  object-fit: cover;
  position: relative;
  grid-area: linkbar;
  height: 100%;
  background: linear-gradient(to bottom, rgb(242, 173, 27), rgb(155, 35, 31));
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 20%;
}

div.links {
  height: 60%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 20vh;
}

.icons {
  width: 2.2rem;
  transition: ease-in-out 0.7s;
}

.icons:hover {
  transform: scale(1.5);
  transition: ease-in-out 0.7s;
}

/*TABLET*/

@media screen and (max-width: 900px) {
  main {
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    grid-template-areas:
      "leftpane"
      "linkbar";
  }

  .album {
    position: relative;
    top: 6vh;
    grid-area: album;
    width: 450px;
  }

  p {
    font-size: 2rem;
    top: 8vh;
  }

  div.bar {
    position: relative;
    grid-template-areas: "links";
    height: 100%;
    width: 100%;
  }

  div.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 4vh;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
  }

  .icons {
    width: 2rem;
  }

  .icons:hover {
    transform: scale(1.3);
  }
}

/*MOBILE*/
@media screen and (max-width: 612px) {
  .album {
    position: relative;
    top: 9vh;
    width: 400px;
  }

  p {
    top: 11vh;
  }
}
@media screen and (max-width: 425px) {
  main {
    height: 100%;
    overflow: hidden;
    grid-template-columns: 100%;
    grid-template-rows: 80% 10%;
    grid-template-areas:
      "leftpane"
      "linkbar";
  }

  p {
    position: absolute;
    font-size: 1.5em;
    top: 9vh;
  }
  .album {
    position: relative;
    top: 7vh;
    width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .album {
    position: relative;
    top: 9vh;
    width: 250px;
  }
}
